<ion-header>
    <ion-toolbar>
        <ion-title>ResultApp</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text>
        <h1 class="ion-text-center ion-text-lg ">Welcome <br> To
            <ion-text color="tertiary">ResultApp</ion-text>
        </h1>
    </ion-text>
    <ion-img src="./assets/boy with glasses.svg"></ion-img>
    <br><br>
    <ion-button mode="ios" color="tertiary" expand="full" (click)="studentspage()">Student's Interface</ion-button>
    <ion-button mode="ios" color="tertiary" expand="full" (click)="teacherspage()">Teachers Interface</ion-button>
</ion-content>
