<ion-header>
    <ion-toolbar>
        <ion-title>editpage</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text>
        <h1 class="ion-text-center ion-text-lg ">Edit Student <br> Or
            <ion-text color="tertiary">Class Info</ion-text>
        </h1>
    </ion-text>
    <ion-img src="./assets/boy with glasses.svg"></ion-img>
    <br><br>
    <ion-button mode="ios" color="tertiary" expand="full" (click)="editstudent()">Edit Student Info</ion-button>
    <ion-button mode="ios" color="tertiary" expand="full" (click)="editclass()">Edit Class Info</ion-button>
</ion-content>
