<ion-header>
    <ion-toolbar>
        <ion-title>ResultApp</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text>
        <h1 class="ion-text-center ion-text-lg ">Log-in <br> Or
            <ion-text color="tertiary">Register</ion-text>
        </h1>
    </ion-text>
    <ion-img src="./assets/boy with glasses.svg"></ion-img>
    <br><br>
    <ion-button mode="ios" color="tertiary" expand="full" (click)="registerpage()">Register</ion-button>
    <ion-button mode="ios" color="tertiary" expand="full" (click)="loginpage()">Log-in</ion-button>
</ion-content>
