<ion-header>
    <ion-toolbar>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text>
        <h1 class="ion-text-center ion-text-lg ">{{fname.slice(1,-1) +" "+lname.slice(1,-1)}} <br> Id:
            <ion-text color="tertiary">{{id.slice(1,-1)}}</ion-text>
        </h1>

    </ion-text>
    <ion-img src="./assets/boy with glasses.svg"></ion-img>
    <br><br>
    <ion-button mode="ios" color="tertiary" expand="full" (click)="studentresult()">Student's Marksheet</ion-button>
    <ion-button mode="ios" color="tertiary" expand="full" (click)="classresult()">Class Marksheet</ion-button>
</ion-content>
