<ion-header>
    <ion-toolbar>
        <ion-title>viewpage</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text>
        <h1 class="ion-text-center ion-text-lg ">View Student <br> Or
            <ion-text color="tertiary">Class Info</ion-text>
        </h1>
    </ion-text>
    <ion-img src="./assets/boy with glasses.svg"></ion-img>
    <br><br>
    <ion-button mode="ios" color="tertiary" expand="full" (click)="viewstudent()">View Student Info</ion-button>
    <ion-button mode="ios" color="tertiary" expand="full" (click)="viewclass()">View Class Info</ion-button>
</ion-content>
