<ion-header>
    <ion-toolbar>
        <ion-title>editclassresult</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-infinite-scroll>
        <ion-list>
            <ion-item (click)="editcname()">
                <ion-label>
                    <h3>Edit Class Name</h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="editeng()">
                <ion-label>
                    <h3>English</h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="editmaths()">
                <ion-label>
                    <h3>Mathematics</h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="editphy()">
                <ion-label>
                    <h3>Physics</h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="editchem()">
                <ion-label>
                    <h3>Chemistry</h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="editbio()">
                <ion-label>
                    <h3>Biology</h3>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-infinite-scroll>
</ion-content>