<ion-header>
    <ion-toolbar>
        <ion-title>studentinfoedit</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-infinite-scroll>
        <ion-list>
            <ion-item (click)="editfname()">
                <ion-label>
                    <h3>Edit First Name</h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="editlname()">
                <ion-label>
                    <h3>Edit Last Name</h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="editid()">
                <ion-label>
                    <h3>Edit Student Id</h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="editroll()">
                <ion-label>
                    <h3>Edit Roll No.</h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="editbatch()">
                <ion-label>
                    <h3>Edit Batch</h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="editphone()">
                <ion-label>
                    <h3>Edit Phone No.</h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="editemail()">
                <ion-label>
                    <h3>Edit Email Address</h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="addmarksheet()">
                <ion-label>
                    <h3>Add Student Marksheet</h3>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-infinite-scroll>
</ion-content>
