<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            ResultApp
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text>
        <h1 class="ion-text-center ion-text-lg ">View Info <br> Or
            <ion-text color="tertiary">Edit Info</ion-text>
        </h1>
    </ion-text>
    <ion-img src="./assets/boy with glasses.svg"></ion-img>
    <br><br>
    <ion-button mode="ios" color="tertiary" expand="full" (click)="view()">View Information</ion-button>
    <ion-button mode="ios" color="tertiary" expand="full" (click)="edit()">Edit Information</ion-button>
</ion-content>
